
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    }
    
    body{
      background-image: url(./backgroundimg.png) ;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      font-family: poppins;
    }
    ul,nav{
      list-style: none;
    }
    a{
      text-decoration: none;
      cursor: pointer;
      color:inherit;
    }
    header{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display:-o-flex;
      display: flex;
      justify-content: center;
      color:black;
      padding: 35px  100px 0;
    }
    header nav{
      display:-webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
    }
    