*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  }
  
  body{
    background-image: url(./backgroundimg.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: poppins;
    
  
  }
  p{
    text-align: center
  
  }
  ul,nav{
    list-style: none;
  }
  a{
    text-decoration: gray;
    cursor: pointer;
    color:inherit;
  }
  header{
    position: right;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display:-o-flex;
    display: flex-end;
    justify-content: right;
    color:black;
    padding: 35px  100px 0;
  }
  header nav{
    display:-webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  